<h1>Quote Hub</h1>
<hr>
<div class="container">
  <div class="card-columns">
    <div class="card" *ngFor='let quote of quotes;let i = index'>
      
        <div class="card-body">
              <p>{{quote.title}}</p>
              <button (click)='toggleDetails(i)'>Details</button>
              <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isComplete) = 'completeQuote($event,i)'></app-quote-detail>
        </div>
    
    </div>
  </div>
</div>
<div>
  <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
</div>